<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style/client.css">
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/JQuery/jquery-3.2.1.min.js"></script>
</head>

<body ng-app="adminModule" ng-controller="adminCtrl">

    <div class="main-header">
        <header class="header">logged in as {{client}}</header>
        <h1>Admin Control Screen</h1>
    </div>

    <div class="mode-selector">
        <div ng-click="changeScope()">
            <span><b>Select View:</b></span>
            <label for="Companies">Companies
                <input id="Companies" ng-model="mode" type="radio" value="comps" ng-click="clearItems()" />
            </label>
            <label for="Customers">Customers
                <input id="Customers" ng-model="mode" type="radio" value="custs" ng-click="clearItems()" />
            </label>
        </div>
        <div>
            <button ng-click="openCreateNewItem()">Create New</button>
        </div>
    </div>

    <div id="workingItem">
        <h4 ng-show="mode.includes('comps')">Company Details</h4>
        <h4 ng-hide="mode.includes('comps')">Customer Details</h4>

        <table>
            <tr>
                <td>ID:</td>
                <td>
                    <input ng-disabled="true" type="number" ng-model=workingItem.id>
                </td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>
                    <input ng-disabled="!itemCreateMode" ng-show="mode.includes('comps')" ng-model="workingItem.compName">
                    <input ng-disabled="!itemCreateMode" ng-hide="mode.includes('comps')" ng-model="workingItem.custName">
                </td>
            </tr>
            <tr ng-show="mode.includes('comps')">
                <td>email:</td>
                <td>
                    <input ng-model="workingItem.email">
                </td>
            </tr>
            <tr>
                <td>password:</td>
                <td>
                    <input ng-model="workingItem.password">
                </td>
            </tr>
        </table>

        <div id="WorkingItem-buttons">
            <button ng-show=itemCreateMode ng-click="sendNewItem()">Send</button>
            <button ng-hide=itemCreateMode ng-click="sendUpdateItem()">Update</button>
            <button ng-click="closeWorkingItem()">Cancel</button>
        </div>
    </div>
    <!-- end of working item -->

    <div class="items-table">
        <table class="items">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Password</th>
                    <th ng-show="mode.includes('comps')">email</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="x in items | orderBy : 'id'">
                    <td>{{x.id}}</td>
                    <td ng-show="mode.includes('comps')">{{x.compName}}</td>
                    <td ng-hide="mode.includes('comps')">{{x.custName}}</td>
                    <td>{{x.password}}</td>
                    <td ng-show="mode.includes('comps')">{{x.email}}</td>
                    <td>
                        <button ng-click="openUpdateItem(x)">update</button>
                        <button ng-click="openDeleteConfirmation(x)">delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <script src="js/adminApp.js"></script>
</body>
<!-- end of Angular app -->

</html>