<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Admin WorkBench</title>

    <!-- AngularJs & JQuery -->
    <script src="lib/JQuery/jquery-3.2.1.min.js"></script>
    <script src="lib/Popper/popper.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/responsive-font-sizes.css">
    <link rel="stylesheet" href="style/master.css">
    <link rel="stylesheet" href="style/client.css">
</head>

<body ng-app="adminModule" ng-controller="adminCtrl">

    <div class="main-header">
        <header class="header">logged in as {{client}}</header>
        <a class="box main-title" href="index.html">
            <h1>Admin Control Screen</h1>
        </a>
    </div>
    
    <div class="mode-selector">
        <div ng-click="changeScope()">
            <span>
                <b>Select View:</b>
            </span>
            <label for="Companies">Companies
                <input id="Companies" ng-model="mode" type="radio" value="comps" ng-click="clearItems()" />
            </label>
            <label for="Customers">Customers
                <input id="Customers" ng-model="mode" type="radio" value="custs" ng-click="clearItems()" />
            </label>
        </div>
        <div>
            <button class="btn-warning" ng-click="openCreateNewItem()">Create New</button>
        </div>
    </div>

    <form>
        <div id="workingItem">
            <h4 ng-show="mode.includes('comps')">Company Details</h4>
            <h4 ng-hide="mode.includes('comps')">Customer Details</h4>

            <table>
                <tbody>
                    <tr>
                        <td>ID:</td>
                        <td>
                            <input ng-disabled="true" type="number" ng-model=workingItem.id>
                        </td>
                    </tr>
                    <tr>
                        <td>Name:</td>
                        <td>
                            <input required ng-disabled="!itemCreateMode" ng-show="mode.includes('comps')" ng-model="workingItem.compName">
                            <input required ng-disabled="!itemCreateMode" ng-hide="mode.includes('comps')" ng-model="workingItem.custName">
                        </td>
                    </tr>
                    <tr ng-show="mode.includes('comps')">
                        <td>email:</td>
                        <td>
                            <input required ng-model="workingItem.email">
                        </td>
                    </tr>
                    <tr>
                        <td>password:</td>
                        <td>
                            <input required ng-model="workingItem.password">
                        </td>
                    </tr>
                </tbody>
            </table>

            <div id="WorkingItem-buttons">
                <button class="btn-success" ng-show=itemCreateMode ng-click="sendNewItem()">Send</button>
                <button class="btn-success" ng-hide=itemCreateMode ng-click="sendUpdateItem()">Update</button>
                <button class="btn-default" ng-click="closeWorkingItem()">Cancel</button>
            </div>
        </div>
    </form>
    <!-- end of working item -->

    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <table class="items-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th ng-show="mode.includes('comps')">Email</th>
                            <th>Password</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr ng-repeat="x in items | orderBy : 'id'">
                            <td>{{x.id}}</td>
                            <td ng-show="mode.includes('comps')">{{x.compName}}</td>
                            <td ng-hide="mode.includes('comps')">{{x.custName}}</td>
                            <td ng-show="mode.includes('comps')">{{x.email}}</td>
                            <td>{{x.password}}</td>
                            <td>
                                <button class="btn-primary button-spacing" ng-click="openUpdateItem(x)">update</button>
                                <button class="btn-danger" ng-click="openDeleteConfirmation(x)">delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--End of container  -->

    <div class="footer">
        <span>
            <a href="/workbench.html">management Workbench</a>
        </span>
        <span>@Discound Coupons LTD, by Yaniv Peretz</span>
    </div>

    <script src="js/adminApp.js"></script>
</body>
<!-- end of Angular app -->

</html>