<!DOCTYPE html>
<html>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>
    <meta charset="UTF-8">
    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/JQuery/jquery-3.2.1.min.js"></script>

    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/master.css">
    <link rel="stylesheet" href="style/client.css">

</head>

<body>

    <div ng-app="CustomerApp">

        <div ng-controller="main">

            <div class="main-header">
                <header>logged in as {{client.type}} #{{client.id}}</header>
                <a href="index.html">
                    <h1>Customer Screen</h1>
                </a>
            </div>

        </div>
        <!-- end of Angular main Controller -->

        <div ng-controller="workingItem">

            <div class="mode-selector">
                <h4>Coupon Details</h4>
                <form>
                    <input required type="number" min="1" ng-model="selectedId" size=6>
                    <button type="submit" class="btn-warning" ng-click="openCouponDetails()">Get Coupon Details</button>
                </form>
            </div>


            <form>
                <div id="workingItem">

                    <table>
                        <tr>
                            <td>ID:</td>
                            <td>
                                <input required ng-disabled="true" type="number" ng-model=workingItem.id>
                            </td>
                        </tr>


                        <tr>
                            <td>type:</td>
                            <td>
                                <select ng-disabled="true" ng-model="workingItem.type" ng-options="option for option in typeOptions"></select>
                            </td>
                        </tr>

                        <tr>
                            <td>title:</td>
                            <td>
                                <input ng-disabled="true" ng-model=workingItem.title>
                            </td>
                        </tr>

                        <tr>
                            <td>startDate:</td>
                            <td>
                                <input placeholder="yyyy-m-d" ng-disabled="true" ng-model=workingItem.startDate>
                            </td>
                        </tr>

                        <tr>
                            <td>endDate:</td>
                            <td>
                                <input placeholder="yyyy-m-d" ng-disabled="true" ng-model=workingItem.endDate>
                            </td>
                        </tr>

                        <tr>
                            <td>amount:</td>
                            <td>
                                <input ng-disabled="true" ng-model=workingItem.amount>
                            </td>
                        </tr>

                        <tr>
                            <td>price:</td>
                            <td>
                                <input ng-disabled="true" ng-model=workingItem.price>
                            </td>
                        </tr>

                        <tr>
                            <td>image:</td>
                            <td>
                                <input ng-disabled="true" ng-model=workingItem.image>
                            </td>
                        </tr>
                    </table>


                    <div id="WorkingItem-buttons">
                        <button type="submit" class="btn-success" ng-click="postWorkingItem()">Buy</button>
                        <button class="btn-default" ng-click="closeWorkingItem()">Cancel</button>
                    </div>
                </div>
            </form>

        </div>
        <!-- end of Angular workingItem Controller -->

        <div ng-controller="itemsTable">

            <div class="items-table">
                <select ng-model="selectedOption" ng-options="item for item in options"></select>

                <input ng-show="selectedOption.includes('By Date')" ng-model="filter" />
                <input ng-show="selectedOption.includes('By Price')" size=1 ng-model="filter" />
                <select ng-show="selectedOption.includes('By Type')" ng-model="filter" ng-options="type for type in typeOptions"></select>

                <button ng-click="getTableData()">Get Coupons</button>
            </div>


            <table class="table-striped table-hover table-dark items-table ">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Type</th>
                        <th>Title</th>
                        <th>Start Date</th>
                        <th>Start End</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th>Message</th>
                        <th>image</th>
                    </tr>
                </thead>

                <tbody>
                    <tr ng-repeat="x in items | orderBy:'id'">
                        <td>{{x.id}}</td>
                        <td>{{x.type}}</td>
                        <td>{{x.title}}</td>
                        <td>{{x.startDate}}</td>
                        <td>{{x.endDate}}</td>
                        <td>{{x.amount}}</td>
                        <td>{{x.price}}</td>
                        <td>{{x.message}}</td>
                        <td>{{x.image}}</td>
                    </tr>
                </tbody>
            </table>

        </div>
        <!-- end of Angular itemsTable Controller -->

    </div>
    <!-- end of Angular app -->
    <script src="js/customerApp.js"></script>
</body>

</html>