<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Public</title>

    <!-- JQuery & AngularJs -->
    <script src="lib/JQuery/jquery-3.2.1.min.js"></script>
    <script src="lib/Popper/popper.min.js"></script>
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="lib/angular/angular.min.js"></script>

    <!-- AngularJS Controller -->
    <script src="js/public.js"></script>

    <!-- Styles -->
    <link rel="stylesheet" href="lib/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="style/master.css">
    <link rel="stylesheet" href="style/public.css">
    <link rel="stylesheet" href="style/responsive-font-sizes.css">
</head>

<body ng-app="publicModule" ng-controller="public-Controller">

    <h1 class="header">Discount Coupon Portal</h1>

    <!-- side Panel Cart -->
    <span class="cart">
        <div class="cart-content">
            <h3 class="cart-center-position underline">My Cart</h3>
            <ul>
                <li ng-repeat="coupon in cart">{{coupon.title}}</li>
            </ul>

            <div class="buy-button">
                <button ng-disabled="!loggedIn || cart.length == 0" ng-click="buyAllCoupons()" class="btn btn-primary cart-center-position">By all</button>
            </div>
            <div ng-if="!loggedIn" class="cart-customer-coupons">

                <p class="cart-center-position">please log in</p>
                <hr class="cart-seperator">
                <table>
                    <tr>
                        <td>user</td>
                        <td>
                            <input required id="user" name="user" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td>password</td>
                        <td>
                            <input required id="password" type="password" name="password" class="form-control">
                        </td>
                    </tr>
                </table>
                <input type="submit" ng-click="login()" class="btn btn-primary cart-center-position">

            </div>


            <div ng-if="loggedIn" class="cart-customer-coupons">
                <h3 class="cart-center-position underline">My Coupons</h3>
                <ul>
                    <li ng-repeat="coupon in customerCoupons">{{coupon.title}}</li>
                </ul>

            </div>
        </div>
        <span class="cart-toggle" ng-click="openCart()">
            <hr>
            <hr>
            <hr>
            <span ng-if="cart.length > 0" class="cart-counter">{{cart.length}}</span>
        </span>
    </span>

    <!-- Main Page Coupons -->
    <ul class="container-coupons">
        <li ng-repeat="x in coupons" class="coupon">
            <img src="./resources/No_Image_Available.jpg" alt="no image">
            <h3 class="coupon-title">{{x.title}}</h3>
            <p class="coupon-price">price: {{x.price}}$</p>
            <p class="coupon-desc">{{x.message}}</p>
            <button ng-click="addToCart(x)" class="coupon-buy btn btn-primary">buy Me!</button>
        </li>

    </ul>

    <div class="footer">
        <span>
            <a href="/workbench.html">management Workbench</a>
        </span>
        <span>@Discound Coupons LTD, by Yaniv Peretz</span>
    </div>
</body>

</html>