body{
    margin: 0;
}

.main-header header{
    background-color: lightgreen;
    text-align: right;
}
.main-header {
    text-align: center;
}

h1, .mode-selector {
    text-align: center;
}

/* working item */
#workingItem{
    background-color: lightblue;

    align-items: center;
    text-transform: capitalize;
    text-align: center;

    overflow: hidden;
    max-height: 0px;
    width: 400px;
    margin: auto;
}

#WorkingItem-buttons{
    padding: 5px;
    margin: 10px;
}

#workingItem table{
    margin: auto;
    text-align: right;
}




/* Items table */
.items-table{
    margin: auto;
    text-align: center;
    margin-top:30px;
    
}
.items{
    border-collapse:collapse;
    background-color: lightgray;
    margin: auto
}

.items thead, thead tr, thead tr th{
        background-color: darkgray;
        padding: 10px;

}



/* generics */
.open{
    animation: open 0.75s both;
}

@keyframes open {
    from {max-height : 0px}
    to   {max-height : 500px }
}

.close{
    animation: close 0.5s both;
}

@keyframes close {
    from {max-height : 500px}
    to   {max-height : 0px }
}





