*{margin: 0px; padding: 0px}

.main-header {
    text-align: center;
}

.main-header header{
    text-align: right;
}

.main-header a{
    color: inherit;
}

h1, .mode-selector {
    text-align: center;
}

/* working item */
#workingItem{
    text-transform: capitalize;
    text-align: left;
    margin-top: 30px;
    overflow: hidden;
    max-height: 0px;
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.85);
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

#workingItem h4{
    text-align: center;
    background-color: goldenrod;
    color: black;
}

#WorkingItem-buttons{
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

#workingItem table{
    margin: auto;
    text-align: right;
}

/* Items table */

.selectors{
    text-align: center;
    margin: auto;
}

.items-table{
    background-color: transparent;
    margin: auto;
    border: 5px solid gray;
}
.items-table>thead{
    background-color: black;    
    color: white;    
    font-weight: bold;
}

.items-table{
    white-space: nowrap;
}

.items-table>tbody{
    color: black;    
}

.items-table>tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.2);
}

.items-table>tbody tr:nth-of-type(even) {
    background-color: rgba(255, 255, 255, 0.4);
 }


.items-table>tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.8);
  }

.items-table>thead>tr>th ,.items-table>tbody>tr>td{
    text-align: center;
}

.button-spacing{
    margin-right: 10px;    
}

/* generics */
.open-panel{
    animation: open 0.75s both;
}

@keyframes open {
    from {max-height : 0px}
    to   {max-height : 500px }
}

.close-panel{
    animation: close 0.5s both;
}

@keyframes close {
    from {max-height : 500px}
    to   {max-height : 0px }
}





