.main-header header{
    text-align: right;
}
.main-header {
    text-align: center;
}

h1, .mode-selector {
    text-align: center;
}

/* working item */
#workingItem{
    text-transform: capitalize;
    text-align: left;
    width: 400px;
    margin: auto;
    margin-top: 30px;
    overflow: hidden;
    max-height: 0px;
}

#workingItem h4{
    text-align: center;
}

#WorkingItem-buttons{
    align-items: center;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

#workingItem table{
    margin: auto;
    text-align: right;
}

/* Items table */
.items-table, .items-table tr, .items-table tr td{
    margin: auto;
    text-align: center;
    margin-top:30px;
}

/* generics */
.open-panel{
    animation: open 0.75s both;
}

@keyframes open {
    from {max-height : 0px}
    to   {max-height : 500px }
}

.close-panel{
    animation: close 0.5s both;
}

@keyframes close {
    from {max-height : 500px}
    to   {max-height : 0px }
}





