#login form table tr td label ,{
    text-transform: capitalize;    
}

#login-table{
    margin:auto;
}

.buttons, .buttons option{
    text-transform: capitalize;
    margin: auto;
}

.button-login{
    background-color: goldenrod;
    border: 1px solid black;
}