/*  ###########
    Navbar  
    ############ */

.management-client {
    background-color: white;
    padding: 8px;
    border-radius: 9px;
}

.icon{
    color: rgba(255,255,255,.5);
}

.nav-item:hover .icon{
    color: rgba(255,255,255,.75)
}

/*  #################################
    Main Carousel (Company / Customer)
    ################################## */

#search{
    text-align: center;
    margin-bottom: 5px;
}

.main-table {
    text-align: center;
    max-width: 900px;
    margin: auto;
    margin-top: 55px;
}

.action-buttons-line {
    white-space: nowrap;
}

.action-button {
    border-radius: 999px;
    height: 24px;
}

.action-icon {
    vertical-align: text-top;
    width: 10px;
    height: 10px;
}

.action-text {
    font-size: 10px;
    vertical-align: text-top;
}

.carousel-control-next,
.carousel-control-prev {
    width: 3%;
}

.coupon-image{
    width: 100%;
}

/*  ############
    Login Box   
    ############ */

.loginInput {
    min-width: 200px;
    max-width: 300px;
}

#login-box {
    opacity: 0;
}

#authIncorrect {
    opacity: 0;
    color: red;
}

.center {
    text-align: center;
    margin: auto;
}

.login-container {
    max-width: 100%;
    width: 900px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}