:root {
    --main-background-color: #232F3E;
    --main-font-color: #black;

    --element-background-color: #FCBB6A;
    --element-background-secondary-color: #DAA54F;
    --element-border-color: #DAA520;
    --element-font-color: #white;
  }

body{
    background-color: var(--main-background-color);
    color: var(--main-font-color);    
}

.capitalize{
    text-transform: capitalize;
}

.box{
    width: fit-content;
    display: table;
    margin: auto;
    border: 1px solid var(--element-border-color);
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2%;
    text-align: center;
}

@media (min-width: 992px) {
    .main-title{
            margin-top: 25px 
    }
}   

.footer{
    background-color: var(--element-background-color);
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    text-align: center;
}
