body{
    background-color: black;
}

.box-Border{
    width: -moz-fit-content;
    width: fit-content;
    border: 1px solid goldenrod;
    color: goldenrod;
    padding: 10px;
    margin: auto;
    text-align: center;
}

#welcome{
    text-transform: capitalize;
    margin-top: 75px;
}

#err{
    color: red;
    display: none;
}

#login{
    margin-top: 25px;
}

#login form table tr td label ,{
    text-transform: capitalize;
}

#login-table tbody tr td{
    padding: 10px;
}

.buttons, .buttons option{
    text-transform: capitalize;        
    margin: auto;
    height: 37px;
}