.header {
    margin-top: 0px;
    background-color: #FCBB6A;
    color: #232F3F;
    text-align: center;
}

/* ###################
 *      Cart
 * ################### */
.cart{
    position: fixed;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.cart-toggle{
    position: relative;
    width: 25px;
    height: 25px;
    background-color: #FCBB6A;
}

.cart-toggle hr{
    background-color:#232F3F;
    margin: 5px;
    border: 1px solid;
    border-top: initial;
}

.cart-counter{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 65%;
    height: 65%;
    
    background-color: red;
    border: 1px solid black;
    border-radius: 90px;    

    text-align: center;
    font-size: 11px;
}

.cart-content{
    overflow: hidden;
    position: relative;
    width: 0px;
    max-width: 200px;
    height: 400px;
    background-color: #FCBB6A;
    -webkit-transition: width 0.3s ease-out;
    -moz-transition: width 0.3s ease-out;
    transition: width 0.3s ease-out;

}

.cart-center-position{
    display: block;
    margin: auto;
    text-align: center; 
}

.cart-customer-coupons{
    position: absolute;
    bottom: 0px;
    margin: 10px;
}

.cart-seperator{
    background-color: black;
}



/* Coupons Main Page */
.container-coupons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
}

.coupon {
    position: relative;
    width: 200px;
    height: 300px;
    margin: 10px;

    border: 3px dashed;
    background-color: lightgray;
}

.coupon-title{
    margin-top: 2px;
    text-align: center;
    font-weight: 600;
}

.container-coupons img {
    width: 100%;
}

.coupon-desc {
    position: absolute;
    left: 3px;
    bottom: 30px;
}

.coupon-price {
    margin-top: 2px;
    text-align: center;
    font-weight: 600;
}

.coupon-buy{
    position: absolute;
    bottom: 3px;
    left: 5px;
    width: 95%;
    margin: auto;
    left: 2.5%;
}

.underline{
    text-decoration: underline;
}