.header {
    margin-top: 0px;
    background-color: #FCBB6A;
    color: #232F3F;
    text-align: center;
}

/* ###################
 *      Cart
 * ################### */
.cart{
    position: fixed;
    top: 0px;
    display: flex;
    flex-direction: row;
    z-index: 1;
}

.cart-toggle{
    position: relative;
    width: 50px;
    height: 44px;
    background-color: #FCBB6A;
}

.cart-toggle hr{
    background-color:#232F3F;
    margin: 10px;
    border: 1px solid;
    border-top: initial;
}

.cart-counter{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40%;
    height: 40%;
    
    background-color: red;
    border: 1px solid black;
    border-radius: 90px;    

    text-align: center;
    font-size: 11px;
}

.cart-content{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    /* position: relative; */
    width: 0px;
    max-width: 300px;
    min-height: 400px;
    background-color: #FCBB6A;
    -webkit-transition: width 0.3s ease-out;
    -moz-transition: width 0.3s ease-out;
    transition: width 0.3s ease-out;

}

.cart-center-position{
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.cart-customer-coupons{
    order: 99;
    align-self: flex-end;
    margin: 10px;
}

.cart-button{
    margin: auto;
    margin-top: 0px;
    text-align: center;
}

.cart-seperator{
    background-color: black;
}

/*  #####################
     Coupons Main Page 
     ####################*/
.container-coupons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    padding: 0px;
}

.coupon {
    position: relative;
    width: 170px;
    height: 250px;
    margin: 10px;

    border: 3px dashed;
    background-color: lightgray;
    opacity: 0.7;

    font-size: 0.9rem;
}

.coupon:hover{
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    transition: all 1s ease-out;
    opacity: 1;
    border: 3px solid #FCBB6A;

    /* -webkit-transition: border 10.2s ease-out;
    -moz-transition: border 10.2s ease-out;
    transition: border 10.2s ease-out; */
}

.coupon-title{
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    font-weight: 600;
}

.container-coupons img {
    width: 100%;
    height: 50%;
}

.coupon-desc {
    text-align: center;
}

.coupon-price {
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    color: blue;
}

.coupon-buy{
    position: absolute;
    bottom: 3px;
    left: 5px;
    width: 95%;
    margin: auto;
    left: 2.5%;
}

.underline{
    text-decoration: underline;
}